<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   
   <link rel="stylesheet" href="../css/eddata.css">
   <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
</head>
<body>

    <!-- navbar start -->
  <header>
    <%-include( './partials/header',{user:user})%>
    
 </header>
 <!-- navbar end -->
 <div id="main">
   <a href="/profile" class="backLink">  Back To Profile</a>

   <div id="edit">
      <h1 id="editHead">Edit Datas</h1>
    <form action="/editData" method="post">
       <label>Name</label>
          <p><%=errors.name%></p>  
          <input type="text" name='name' class="inp" value = <%=user.name%>> 
 
       <label>Surname</label>
          <p><%=errors.surname%></p>  
          <input type="text" class="inp"  name='surname' value = <%=user.surname%>> 
       <label>Age</label> 
          <p><%=errors.age%></p>
          <input type="text" class="inp"  name='age'value = <%= user.age%>> 
       <label>Email</label>
          <p><%=errors.email%></p>
          <input class="inp" type="text" name="email" value = <%=user.email%>> 
         <div id="btn" >
            <button class="editBtn">Edit</button>
         </div>
    </form>
   </div>
 </div>
   
</body>
</html>