<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   
   <link rel="stylesheet" href="../css/eddata.css">
   <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
</head>
<body>

    <!-- navbar start -->
  <header>
    <%-include( './partials/header',{user:user})%>
    
 </header>
 <!-- navbar end -->
 <a href="/profile" class="backLink">  Back To Profile</a>
 <div id="main">
   
  <div id="changeMenu">
   <p class="menuItem active" id="personalInfo"> <i class="lni lni-cog icons"></i>Personal Information</p>
   <p class="menuItem" id="Password"><i class="lni lni-unlock icons"></i>Password</p>
  </div>
   <div id="edit">
      <h1 id="editHead">Edit Datas</h1>
    <form action="/editData" method="post" id="personalForm">
       <label>Name</label>
          <p><%=editerrors.name%></p>  
          <input type="text" name='name' class="inp" value = <%=user.name%>> 
 
       <label>Surname</label>
          <p><%=editerrors.surname%></p>  
          <input type="text" class="inp"  name='surname' value = <%=user.surname%>> 
       <label>Age</label> 
          <p><%=editerrors.age%></p>
          <input type="text" class="inp"  name='age'value = <%= user.age%>> 
       <label>Email</label>
          <p><%=editerrors.email%></p>
          <input class="inp" type="text" name="email" value = <%=user.email%>> 
         <div id="btn" >
            <button class="editBtn">Edit</button>
         </div>
    </form>
    <form action="/changePassword" method="post" id="passwordForm">
      <label>Old Password</label>
          <p><%=passerrors.oldPassword%></p>  
          <input type="password" name='oldPassword' class="inp" > 
 
       <label>New Password</label>
       <p><%=passerrors.newPassword%></p>  
          
          <input type="password" class="inp"  name='newPassword'> 
       <label>Confirm New Password</label> 
       <p><%=passerrors.confirm_password%></p>  

          <input type="password" class="inp"  name='confirm_password'> 
         <div id="btn" >
            <button class="editBtn">Change</button>
         </div>
   </form>
   </div>
 </div>
   
</body>  
   <script src="js/eddata.js"></script>
</html>