<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/friend.css">
</head>
<body>

   <header>
     <%-include( './partials/header',{user:user})%>

   </header>
   <div id="main">
      <a href="/profile" class="backLink">  Back To Profile</a>
      <h2 id="friendHead" >Your Friends</h2>
      <div id="allFriends">
         <% friends.forEach((i)=>{ %>
            <div class="friend">
               <img src="<%=i.image%>" alt="">
               <p><%=i.name%></p>
               <p><%=i.surname%></p>
               <button class="delFriend" data-id=<%=i.id%> >Delete</button>
               
            </div>
         <%})%>
      </div>
   </div>
   
</body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
   <script src="js/friend.js"></script>
   
</html>