<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/posts.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">

</head>
<body>
    <header>
     <%-include( './partials/header',{user:user})%>
    </header>
    <a href="profile" class="backLink">  Back To Profile</a>

    <img src="../<%=user.image%>" id="userImage" alt="" style="display: none;">
    <p id="userName" style="display: none;"><%=user.name%></p>
    <p id="userSurname" style="display: none;"><%=user.surname%></p>
    <div id="showPosts">
      <% posts.forEach((i)=>{ %>
        <div class="postMain">
          <button data-id = '<%=i.id%>' class="delPost">Delete</button>
          <div class="authorPost">
            <div class="user_info">
              <img src="<%=user.image%>" alt="">
              <div>
                <p><%=user.name%> <%=user.surname%> </p>
              </div>
            </div>
          </div>
            <div class="postText">
              <p><%=i.text%></p>
            </div>
            <% if(i.picture){%>
              <img class="postImg" src="<%=i.picture %>">
             <%}%>
           <div class="postBtns" data-id="<%=i.id%>">
            <%if(i.liked==true){%>
              <button class="disLike" data-id=<%=i.id%>><i class="lni lni-heart"></i> Like </button>
              <span class="likeCount" data-toggle="modal" data-target="#getLikersModal"> <%=i.likes%></span>
             <%} else {%>
             
               <button class="like" data-id=<%=i.id%>><i class="lni lni-heart"></i> Like</button>
               <span class="likeCount" data-toggle="modal" data-target="#getLikersModal"> <%=i.likes%></span>
             <%}%>
            <button class="showComments" data-id=<%=i.id%>><i class="lni lni-bubble"></i> Comment</button>
          </div>

          <div class="commentMain">

          </div>
          <div class="commentNow">

          </div>
          <div class="sendComment">
            <input class="comText" type="text" >
            <button class="addComment" data-id = <%=i.id%>>Send</button>
          </div>
        </div>
     <%})%>

     
  </div>
  <div class="modal fade" id="getLikersModal" tabindex="-1" role="dialog" aria-labelledby="getLikersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="getLikersModalLabel">Likers</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body" id="likersBody">
     
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="js/posts.js"></script>
</html>