<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/profile.css">
 
<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
</head>
<body>
  <!-- navbar start -->
  <header>
     <%-include( './partials/header',{user:user})%>

  </header>
  <!-- navbar end -->

  <!-- main start -->
  <div id="main">

    <div class="avatarInfo">
    <!-- useri nkari hatvac -->

      <div class="userAvatar">
        <div class="userAvatarimage">
          <img src="<%=user.image%>" alt="">
        </div>
        <div class="changeAvatar">
          <button class="changeBtn" id="myBtn" data-toggle="modal" data-target="#changeAvatarModal">Change Avatar</button>
        </div>
        <div class="info">
          <p><%=user.name%> <%=user.surname%></p>
          <p class="year"><%=user.age%> Years Old</p>
        </div>
      </div>
      <!-- nkari hatvac end -->

      <!-- friend photo link start -->
      <div class="fotoFriend">
        <ul>
          <li><a href="/photos">  <i class="lni lni-image"></i> Photos</a></li>
          <li><a href="/friend"> <i class="lni lni-users"></i> Friends</a></li>
          <li><a href="/myPosts">Posts</a></li>
        </ul>
      </div>

      <!-- posteri bajin -->
      <div id="posts">
        <form action="/publicPosts" method="post"  enctype="multipart/form-data">
          <textarea name="postText" id="postMain" cols="60" rows="5"></textarea>  
          <input type="file" name="image" id="postImage"> 	
          <button class="post">Post</button>   	
             
        </form>
      </div>
    </div>
    <!-- posteri bajin verj -->
    
    <!-- friend foto end -->
    
    <!-- change avatar modal start -->
	<div class="modal fade" id="changeAvatarModal" tabindex="-1" role="dialog" aria-labelledby="changeAvatarModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="changeAvatarModalLabel">Change Avatar</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form method="post" action="/uploadImage" enctype="multipart/form-data"> 
				<input type="file" name="image" id="avatarInp"> 	
				<button class="modalChange">Change</button>   	
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
  <!-- change avatar modal end -->
	

  </div>
  <!-- main end -->
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <!-- <script src="js/profile.js"></script> -->
  
  
</html>