<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../css/friend.css">
</head>
<body>

   <header>
     <%-include( './partials/header',{user:user})%>

   </header>
   <div id="main">
      <a href="/user/<%=id%>" class="backLink">  Back To Profile</a>
      <h2 id="friendHead" >Friends</h2>
      <div id="allFriends">
         <% friends.forEach((i)=>{ %>
            <div class="friend">
               <img src="../<%=i.image%>" alt="">
               <p><a href="friend/<%=i.id%>"><%=i.name%></a></p>
               <p><a href="friend/<%=i.id%>"><%=i.surname%></a></p>
               
               
            </div>
         <%})%>
      </div>
   </div>
   
</body>   
</html>